/* form stuffs */

.form-group,
.switch-group {
  padding: 1.2rem 1.6rem;
  border-bottom: 1px solid #f9f9f9;
 }

.form-group label {
  display: block;
  text-transform: uppercase;
  margin-bottom: 3px;
  font-size: 1.2rem;
  color: #666
}

.form-input {
  border: 0;
  display: block;
  font: inherit;
  font-size: 1.4rem;
  padding: 1rem 0;
  outline: 0;
  width: 100%;
  color: inherit;
}

.form-input::placeholder {
  color: #999
}

.form-input:focus {
  background: #fcfcfc;
}

.switch-group {
  display: flex;
  align-items: center;
}

.switch-label {
  font-size: 1.4rem;
  margin-right: auto;
}

.onoffswitch {
  height: 30px;
  position: relative;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  height: 100%;
  border-radius: 99px;
  width: 70px;
  border: 1.5px solid #999;
  background: #FFF;
  cursor: pointer;
  overflow: hidden;
  transition: .15s ease-in-out;
}

.onoffswitch-inner {
  display: block;
  height: 100%;
  width: 200%;
  transition: .15s ease-in-out;
  transform: translateX(-50%);
}

.onoffswitch-inner::after,
.onoffswitch-inner::before {
  content: '';
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  width: 50%;
  height: 100%;
  color: #222;
  padding: 0 10px;
  font-weight: 600;
  font-size: 13px;
}

.onoffswitch-inner::after {
  content: 'NO';
  color: #999;
  justify-content: flex-end;
}

.onoffswitch-inner::before {
  content: 'YES';
  color: #fff;
  background: var(--theme);
  justify-content: flex-start;
}

.onoffswitch-switch {
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  border: 1.5px solid #999;
  border-radius: 99px;
  transition: .15s ease-in-out;
}

.onoffswitch-checkbox:checked ~ .onoffswitch-label .onoffswitch-switch {
  left: calc(100% - 22px - 4px);
  background: #fff;
  border-color: #fff;
  box-shadow: 1px 1px 2px rgba(0,0,0,.2);
}

.onoffswitch-checkbox:checked ~ .onoffswitch-label .onoffswitch-inner {
  transform: translateX(0);
}

.onoffswitch-checkbox:checked ~ .onoffswitch-label {
  border-color: var(--theme);
}

.submit {
  padding: 1.4rem;
  margin-bottom: 2rem;
}

.button {
  outline: 0;
  border: 1px solid var(--theme);
  background: #fff;
  color: var(--theme);
  display: block;
  padding: 1rem;
  border-radius: 20rem;
  width: 100%;
  font: inherit;
  font-size: 1.4rem;
  cursor: pointer;
  text-transform: uppercase;
}