* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   /* disable blue highlight on screen touch/press */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
 }

:root {
  --theme: #ca3e47;
  --app-header-size: 180px; 
}

html {
  font-size: 10px;
  line-height: 1.5;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0,0,0,.8);
  display: flex;
  font-weight: 400;
  font-size: 1.6rem;
  font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande";
  flex-direction: column;
  height: 100vh;
}

.main {
  position: relative;
  width: 100%;
  height: calc(100vh - var(--app-header-size));
  overflow-x: hidden;
}
 
.content {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.pill {
  display: inline-block;
  background: #85bb65;
  color: #fff;
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 7px;
  margin-right: 7px;
  cursor: pointer;
}

.pills {
  margin-top: 10px;
  display: flex; 
  flex-wrap: nowrap;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.pills::-webkit-scrollbar {
  display: none;
}

.material-icons.sm {
  font-size: 16px;
}
